@charset "UTF-8";

.tpnpbicon-left-dir:before { content: '󢀁'; } /* '\e2001' */
.tpnpbicon-right-dir:before { content: '󢀂'; } /* '\e2002' */
.tpnpbicon-left-open:before { content: '󢀃'; } /* '\e2003' */
.tpnpbicon-right-open:before { content: '󢀄'; } /* '\e2004' */
.tpnpbicon-left:before { content: '󢀅'; } /* '\e2005' */
.tpnpbicon-right:before { content: '󢀆'; } /* '\e2006' */
.tpnpbicon-left-big:before { content: '󢀇'; } /* '\e2007' */
.tpnpbicon-right-big:before { content: '󢀈'; } /* '\e2008' */
.tpnpbicon-left-circled:before { content: '󢀉'; } /* '\e2009' */
.tpnpbicon-right-circled:before { content: '󢀐'; } /* '\e2010' */
.tpnpbicon-left-circled2:before { content: '󢀑'; } /* '\e2011' */
.tpnpbicon-right-circled2:before { content: '󢀒'; } /* '\e2012' */
.tpnpbicon-left-circled-1:before { content: '󢀓'; } /* '\e2013' */
.tpnpbicon-right-circled-1:before { content: '󢀔'; } /* '\e2014' */
.tpnpbicon-left-open-1:before { content: '󢀕'; } /* '\e2015' */
.tpnpbicon-right-open-1:before { content: '󢀖'; } /* '\e2016' */
.tpnpbicon-left-open-mini:before { content: '󢀗'; } /* '\e2017' */
.tpnpbicon-right-open-mini:before { content: '󢀘'; } /* '\e2018' */
.tpnpbicon-left-open-big:before { content: '󢀙'; } /* '\e2019' */
.tpnpbicon-right-open-outline:before { content: '󢀠'; } /* '\e2020' */
.tpnpbicon-left-open-2:before { content: '󢀡'; } /* '\e2021' */
.tpnpbicon-right-open-2:before { content: '󢀢'; } /* '\e2022' */
.tpnpbicon-left-2:before { content: '󢀣'; } /* '\e2023' */
.tpnpbicon-right-2:before { content: '󢀤'; } /* '\e2024' */
.tpnpbicon-left-outline:before { content: '󢀥'; } /* '\e2025' */
.tpnpbicon-right-outline:before { content: '󢀦'; } /* '\e2026' */
.tpnpbicon-left-small:before { content: '󢀧'; } /* '\e2027' */
.tpnpbicon-right-small:before { content: '󢀨'; } /* '\e2028' */
.tpnpbicon-left-3:before { content: '󢀩'; } /* '\e2029' */
.tpnpbicon-right-3:before { content: '󢀰'; } /* '\e2030' */
.tpnpbicon-left-circle:before { content: '󢀱'; } /* '\e2031' */
.tpnpbicon-right-circle:before { content: '󢀲'; } /* '\e2032' */
.tpnpbicon-left-open-3:before { content: '󢀳'; } /* '\e2033' */
.tpnpbicon-right-open-3:before { content: '󢀴'; } /* '\e2034' */
.tpnpbicon-left-bold-1:before { content: '󢀵'; } /* '\e2035' */
.tpnpbicon-right-bold-1:before { content: '󢀶'; } /* '\e2036' */
.tpnpbicon-left-fat:before { content: '󢀷'; } /* '\e2037' */
.tpnpbicon-right-fat:before { content: '󢀸'; } /* '\e2038' */
.tpnpbicon-left-open-4:before { content: '󢀹'; } /* '\e2039' */
.tpnpbicon-right-open-4:before { content: '󢁀'; } /* '\e2040' */
.tpnpbicon-left-4:before { content: '󢁁'; } /* '\e2041' */
.tpnpbicon-right-4:before { content: '󢁂'; } /* '\e2042' */
.tpnpbicon-left-circled-2:before { content: '󢁃'; } /* '\e2043' */
.tpnpbicon-right-circled-2:before { content: '󢁄'; } /* '\e2044' */
.tpnpbicon-left-open-5:before { content: '󢁅'; } /* '\e2045' */
.tpnpbicon-right-open-5:before { content: '󢁆'; } /* '\e2046' */
.tpnpbicon-left-circle-1:before { content: '󢁇'; } /* '\e2047' */
.tpnpbicon-right-circle-1:before { content: '󢁈'; } /* '\e2048' */
.tpnpbicon-right-open-big:before { content: '󢁉'; } /* '\e2049' */
.tpnpbicon-left-1:before { content: '󢁐'; } /* '\e2050' */
.tpnpbicon-right-1:before { content: '󢁑'; } /* '\e2051' */
.tpnpbicon-left-dir-1:before { content: '󢁒'; } /* '\e2052' */
.tpnpbicon-right-dir-1:before { content: '󢁓'; } /* '\e2053' */
.tpnpbicon-left-bold:before { content: '󢁔'; } /* '\e2054' */
.tpnpbicon-right-bold:before { content: '󢁕'; } /* '\e2055' */
.tpnpbicon-left-thin:before { content: '󢁖'; } /* '\e2056' */
.tpnpbicon-right-thin:before { content: '󢁗'; } /* '\e2057' */
.tpnpbicon-left-open-outline:before { content: '󢁘'; } /* '\e2058' */
