[class^="tpnpbicon-"], [class*=" tpnpbicon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.tpnpbicon-left-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2001;&nbsp;'); }
.tpnpbicon-right-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2002;&nbsp;'); }
.tpnpbicon-left-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2003;&nbsp;'); }
.tpnpbicon-right-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2004;&nbsp;'); }
.tpnpbicon-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2005;&nbsp;'); }
.tpnpbicon-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2006;&nbsp;'); }
.tpnpbicon-left-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2007;&nbsp;'); }
.tpnpbicon-right-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2008;&nbsp;'); }
.tpnpbicon-left-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2009;&nbsp;'); }
.tpnpbicon-right-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2010;&nbsp;'); }
.tpnpbicon-left-circled2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2011;&nbsp;'); }
.tpnpbicon-right-circled2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2012;&nbsp;'); }
.tpnpbicon-left-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2013;&nbsp;'); }
.tpnpbicon-right-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2014;&nbsp;'); }
.tpnpbicon-left-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2015;&nbsp;'); }
.tpnpbicon-right-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2016;&nbsp;'); }
.tpnpbicon-left-open-mini { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2017;&nbsp;'); }
.tpnpbicon-right-open-mini { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2018;&nbsp;'); }
.tpnpbicon-left-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2019;&nbsp;'); }
.tpnpbicon-right-open-outline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2020;&nbsp;'); }
.tpnpbicon-left-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2021;&nbsp;'); }
.tpnpbicon-right-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2022;&nbsp;'); }
.tpnpbicon-left-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2023;&nbsp;'); }
.tpnpbicon-right-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2024;&nbsp;'); }
.tpnpbicon-left-outline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2025;&nbsp;'); }
.tpnpbicon-right-outline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2026;&nbsp;'); }
.tpnpbicon-left-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2027;&nbsp;'); }
.tpnpbicon-right-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2028;&nbsp;'); }
.tpnpbicon-left-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2029;&nbsp;'); }
.tpnpbicon-right-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2030;&nbsp;'); }
.tpnpbicon-left-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2031;&nbsp;'); }
.tpnpbicon-right-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2032;&nbsp;'); }
.tpnpbicon-left-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2033;&nbsp;'); }
.tpnpbicon-right-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2034;&nbsp;'); }
.tpnpbicon-left-bold-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2035;&nbsp;'); }
.tpnpbicon-right-bold-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2036;&nbsp;'); }
.tpnpbicon-left-fat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2037;&nbsp;'); }
.tpnpbicon-right-fat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2038;&nbsp;'); }
.tpnpbicon-left-open-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2039;&nbsp;'); }
.tpnpbicon-right-open-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2040;&nbsp;'); }
.tpnpbicon-left-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2041;&nbsp;'); }
.tpnpbicon-right-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2042;&nbsp;'); }
.tpnpbicon-left-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2043;&nbsp;'); }
.tpnpbicon-right-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2044;&nbsp;'); }
.tpnpbicon-left-open-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2045;&nbsp;'); }
.tpnpbicon-right-open-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2046;&nbsp;'); }
.tpnpbicon-left-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2047;&nbsp;'); }
.tpnpbicon-right-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2048;&nbsp;'); }
.tpnpbicon-right-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2049;&nbsp;'); }
.tpnpbicon-left-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2050;&nbsp;'); }
.tpnpbicon-right-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2051;&nbsp;'); }
.tpnpbicon-left-dir-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2052;&nbsp;'); }
.tpnpbicon-right-dir-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2053;&nbsp;'); }
.tpnpbicon-left-bold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2054;&nbsp;'); }
.tpnpbicon-right-bold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2055;&nbsp;'); }
.tpnpbicon-left-thin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2056;&nbsp;'); }
.tpnpbicon-right-thin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2057;&nbsp;'); }
.tpnpbicon-left-open-outline { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2058;&nbsp;'); }
